body {
                background: #D6DDF6;
                font-family: "Lucida Console", "Courier New", monospace;
               
            }
            


img {width:80%;}
            
img#PSB {width:10%;}
            
section{
            background: coral;
            width:90%;
            margin:auto;
            }
 

section.gallery { 
width:80%;
background-color:yellow;
line-height:1.5em;
padding-left: 2em;
padding-right: 2em;


}
/*  Section class of gallery */



div.galleryFlex { display:flex;
flex-direction:row;
    
}

figure {
             background: /*#EFD6F6*/ white;;
            }  
            

figure#newt { flex:1;}

figure#trex {flex:1;}

figure#llama {flex: 5}




section.gallery figcaption {
    color:blue;
    font-size:smaller;
    
}
/* This controls the section with side-by-side blocks of text */
/* ebb: I would choose different colors here.  */

div.outer {
    width:80%;
    background-color:purple;
    margin:auto;
    padding: 2em;
    color:white;
    
}


section#tinkering { 
border-radius:33%;
border-color:green;
 border-style:solid;
 border-width: 5px;


width:70%;
margin:auto;
/*padding-left:2em;
padding-right:2em;
padding-top:1em;
padding-bottom:1em;*/

padding: 5em 2em;
display:flex;

}

#tinkering ul{
    
  margin:auto;
    
}
/*  FOR THE CORPUS ANALYSIS */
section.corpus {
    display:flex;
}

/*  For the TimeMap */
iframe { 
width:100%; 
height:780px;
}















