body {
                background: #D6DDF6;
                font-family: "Lucida Console", "Courier New", monospace;
               
            }
            

img {width:80%;}
            
img#PSB {width:10%;}
            
section{
            background: coral;
            width:90%;
            margin:auto;
            }
 

section.gallery { 
width:80%;
background-color:yellow;
line-height:1.5em;
padding-left: 2em;
padding-right: 2em;


}
/*  Section class of gallery */



div.galleryFlex { display:flex;
flex-direction:row;
    
}

figure {
             background: /*#EFD6F6*/ white;;
            }  
            

#newt { flex:1;}

#trex {flex:2;}






section.gallery figcaption {
    color:blue;
    font-size:smaller;
    
}

